/**************
*    reset   *
*************/

* {
    margin: 0;
    padding: 0;

}

/****************
*** variables ***
****************/

:root {
    --tensentype: "tensentype-zhihei";
    --verdana: "Verdana, Geneva, Tahoma, sans-serif"
}

/********************
****** general ******
********************/

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?q3gl9h');
    src: url('fonts/icomoon.eot?q3gl9h#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?q3gl9h') format('truetype'),
        url('fonts/icomoon.woff?q3gl9h') format('woff'),
        url('fonts/icomoon.svg?q3gl9h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-thumbs-down:before {
    content: "\e900";
}

.icon-heart:before {
    content: "\e9da";
}

.icon-loop2:before {
    content: "\ea2e";
}



body {
    background-color: rgba(0, 255, 255, 0.171);
    font-family: var(--tensentype),
        sans-serif;

}

h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 55pt;
    margin-bottom: 1em;
}

a {
    font-family: var(--tensentype),
        sans-serif;

    font-weight: 700;
    font-size: 20pt;
    font-style: normal;
    text-decoration: none;
    color: black;
}

img.navLogo {
    width: 10em;
    padding-left: 2em;
}

p {

    font-weight: 300;
    color: #B7B7B7;
    text-align: center;
    font-size: 20pt;
}

button {
    font-size: 20pt;
    margin: 2em 1em;
    padding: 1em 1.5em;
    border-radius: 70pt;
    color: #B7B7B7;
    border: none;
    background-color: white;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(83, 77, 77, 0.658);
    -moz-box-shadow: 0px 3px 6px 0px rgba(83, 77, 77, 0.658);
    box-shadow: 0px 3px 6px 0px rgba(83, 77, 77, 0.658);
}

button:hover {
    -webkit-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75);
}


/********************
******** nav ********
********************/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10pt;
    margin: 1em;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(83, 77, 77, 0.658);
    -moz-box-shadow: 0px 3px 6px 0px rgba(83, 77, 77, 0.658);
    box-shadow: 0px 3px 6px 0px rgba(83, 77, 77, 0.658);

}

nav div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

a.navLinks {
    padding: .75em;
}

a.navLinks:hover {
    text-decoration: underline;
    color: rgb(127, 204, 255)
}

a.activeLink {
    color: white;
    background-color: black;
}

/*************************
******** mainpage ********
*************************/

main.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 10vh;
    height: 70vh;
}

main.mainPage div {
    display: flex;
}

.mainPage button {
    margin-top: 3em;
}

#mainPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**********************************
******** Sign in - Log out ********
**********************************/

img.closePage {
    width: 1.5em;
    padding: 1em;
    background-color: white;
    border-radius: 10pt;
    border: rgba(83, 77, 77, 0.658) solid;
    margin: 3vh 0 0 90vw;
}

div.createAccountForm,
div.signInForm {
    padding: 15vh 0 0 15vw;
    display: flex;
    flex-direction: column;

}

form {

    display: flex;
    flex-direction: column;
    align-self: flex-start;

}

input[type=text],
input[type=email],
input[type=password] {
    font-size: 20pt;
    border-style: none none solid none;
    margin: .5em 0em;
    padding: .5em;
}

form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33em;
}

input[type=checkbox] {
    margin-right: .5em;
}

div.rememberCheckbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
}

/****************************
******** profile nav ********
****************************/

main.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 10vh;
}

div.profileLinks {
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    margin-bottom: 5em;
    border: black solid 3px;
    border-radius: 60pt;
}

main.profile a {
    padding: 1em 2em;

}

main.profile div a:first-of-type {
    background-color: black;
    color: azure;
    border-radius: 60pt 0pt 0pt 60pt;
}

main.profile div a:last-of-type {
    border-radius: 0pt 60pt 60pt 0pt;
}

section {
    display: none;
    background-color: white;
    width: 100vw;
}

section:target {
    display: block;
}

/****************************
******** My profile *********
****************************/
main.profile h1 {
    padding: 1em 0 0 1em;
}

div.inputField {
    display: flex;
    align-items: center;
    margin: -4em 0em 0em 10vw
}

div.inputField:first-of-type {
    margin: 2em 0em 0em 10vw;
}

div.inputField:last-of-type {
    margin: -4em 0em 6em 10vw;
}


div.inputField div {
    display: flex;
    width: 40em;
    border-radius: 15pt;
    -webkit-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75);
}

div.inputField p {
    font: --tensentype;
    font-weight: 400;
    font-size: 20pt;
    background-color: #B7B7B7;
    padding: .6em;
    margin: 0;
    border-radius: 15pt 0 0 15pt;
    width: 20%;
    color: black;

}

div.inputField input {
    margin: 0;
    border-radius: 0 15pt 15pt 0;
    width: 80%;
}

div.inputField button {
    border-radius: 15pt;
    padding: .5em 2em;
    color: black;
    background-color: #B7B7B7;

}

/******************************
******** My favorites *********
******************************/

/******************************
******** displayGame *********
******************************/

div.gameCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22em;
    height: 28em;
    overflow: hidden;
    border-radius: 2em;
    margin: 2em;
}

div.gameCard img {
    height: 80%;
    margin: 0%;


}

div.gameCard div {

    display: flex;
    padding: 1em;
    background-color: white;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.gameId {
    display: none;
}

div.gameCard div h3 {
    text-align: center;
}

#dislikeBtn,
#likeBtn {
    padding: .5em;
    margin: 0em 1em;
}

#retryBtn {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6.5em;
    height: 2em;
    margin: .25em;
}