/**************
*    reset   *
*************/

* {
    margin: 0;
    padding: 0;

}

/****************
*** variables ***
****************/

:root {
    --tensentype: "tensentype-zhihei";
    --verdana: "Verdana, Geneva, Tahoma, sans-serif"
}

/********************
****** general ******
********************/

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?q3gl9h');
    src: url('fonts/icomoon.eot?q3gl9h#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?q3gl9h') format('truetype'),
        url('fonts/icomoon.woff?q3gl9h') format('woff'),
        url('fonts/icomoon.svg?q3gl9h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-thumbs-down:before {
    content: "\e900";
}

.icon-heart:before {
    content: "\e9da";
}

.icon-loop2:before {
    content: "\ea2e";
}



body {
    background-color: #32C6F4;
    font-family: var(--tensentype),
        sans-serif;
    overflow-x: hidden;

}

h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 40pt;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

a {
    font-family: var(--tensentype),
        sans-serif;

    font-weight: 700;
    font-size: 15pt;
    font-style: normal;
    text-decoration: none;
    color: black;
}

img.navLogo {
    width: 10em;
    padding-left: 2rem;
}

p {

    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 15pt;
}

button {
    font-size: 15pt;
    margin: 2rem 1rem;
    padding: 1rem;
    border-radius: 70pt;
    color: #B7B7B7;
    border: none;
    background-color: white;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(83, 77, 77, 0.658);
    -moz-box-shadow: 0px 3px 6px 0px rgba(83, 77, 77, 0.658);
    box-shadow: 0px 3px 6px 0px rgba(83, 77, 77, 0.658);
}

button:hover {
    -webkit-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75);
}


/********************
******** nav ********
********************/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10pt;
    margin: 1em;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(83, 77, 77, 0.658);
    -moz-box-shadow: 0px 3px 6px 0px rgba(83, 77, 77, 0.658);
    box-shadow: 0px 3px 6px 0px rgba(83, 77, 77, 0.658);

}

nav div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

a.navLinks {
    padding: .75em;
}

a.navLinks:hover {
    text-decoration: underline;
    color: rgb(127, 204, 255)
}

a.activeLink {
    color: white;
    background-color: black;
}

/*************************
******** mainpage ********
*************************/

main.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 85vh;
}

main.mainPage div {
    display: flex;
}

.mainPage button {
    margin-top: 2rem;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**********************************
******** Sign in - Log out ********
**********************************/

img.closePage {
    width: 1.5em;
    padding: 1em;
    background-color: white;
    border-radius: 10pt;
    border: rgba(83, 77, 77, 0.658) solid;
    margin: 3vh 0 0 90vw;
}

div.createAccountForm,
div.signInForm {
    padding: 0 0 0 15vw;
    display: flex;
    flex-direction: column;

}

div.signInForm {
    padding-top: 15vh;
}

form {

    display: flex;
    flex-direction: column;
    align-self: flex-start;

}

input[type=text],
input[type=email],
input[type=password] {
    font-size: 12pt;
    border-style: none none solid none;
    margin: .5em 0em;
    padding: .5em;
}

form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33em;
}

input[type=checkbox] {
    margin-right: .5em;
}

div.rememberCheckbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
}

/****************************
******** profile nav ********
****************************/

main.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 6vh;
}

div.profileLinks {
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    margin-bottom: 5em;
    border: black solid 4px;
    border-radius: 60pt;
}

main.profile a {
    padding: 1em 2em;

}

main.profile div a:first-of-type {
    background-color: black;
    color: azure;
    border-radius: 60pt 0pt 0pt 60pt;
}

main.profile div a:last-of-type {
    border-radius: 0pt 60pt 60pt 0pt;
}

section {
    display: none;
    width: 100vw;
}

section:target {
    display: block;
}

/****************************
******** My profile *********
****************************/


main.profile h1 {
    padding: 1em 0 0 1em;
}

#myProfile div,
#myProfile button {
    height: 4rem;

}

div.inputField {
    display: flex;
    align-items: center;
    margin: 4rem 0em 0em 10vw;
}

div.inputField:first-of-type {
    margin: 2em 0em 0em 10vw;
}

div.inputField:last-of-type {
    margin: 4rem 0em 6em 10vw;
}

#myProfile,
.myFavorites {
    background-color: white;
    width: 100vw;
}

.myDislikes {
    background-color: gray;
}

section:target#myFavorites {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

div.editCredentialsBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33em;
}

div.inputField div {
    display: flex;
    align-items: center;
    width: 50vw;
    height: 4rem;
    border-radius: 15pt;
    -webkit-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75);
}

div.inputField p {
    font: var(--tensentype);
    font-weight: 400;
    font-size: 20pt;
    background-color: #B7B7B7;
    padding: .6em;
    margin: 0;
    height: 2rem;
    border-radius: 15pt 0 0 15pt;
    width: 25vw;
    color: black;
    text-align: center;

}

div.inputField input {
    margin: 0;
    border-radius: 0 15pt 15pt 0;
    width: 60vw;
    height: 3rem;
}

div.inputField button {
    border-radius: 15pt;
    padding: .5em 2em;
    color: black;
    background-color: #B7B7B7;

}

div.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

div.overlayContainer {
    display: flex;
    width: 21vw;
    height: 40vh;
    padding: 5vh 5vw;
    border-radius: 3rem;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

div.overlayContainer h2 {
    font-size: 20pt;
}



div.input {
    display: flex;
    margin: 2rem 0 0;
    flex-direction: column;

}

div.input input {
    width: 15vw;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(83, 77, 77, 0.658);
    -moz-box-shadow: 0px 3px 6px 0px rgba(83, 77, 77, 0.658);
    box-shadow: 0px 3px 6px 0px rgba(83, 77, 77, 0.658);
}

div.input label {
    font-size: 15pt;
}



/******************************
******** My favorites *********
******************************/
div.myFavorites,
div.myDislikes {
    display: flex;
    width: 80vw;
    padding: 5vh 10vw 5vh;
    flex-direction: column;
    overflow: auto;

}

#myFavorites h1,
#myDislikes h1 {
    padding-bottom: 0rem;
}

#deleteGameBtn {
    position: absolute;
    transform: translate(7rem, -10rem);
    width: 3rem;
    height: 3rem;
    color: black;
    font-weight: bolder;
    font-size: 15pt;
    padding: 0;

}

div.gameCardContainer {
    display: flex;
    width: 70vw;
    overflow: hidden;
    flex-wrap: nowrap;
}

div.gameCardContainer div.gameCard {
    width: 20rem;
    height: 25rem;
    margin: 0 3rem;
}

div.myFavorites div.gameCard div,
div.myDislikes div.gameCard div {
    justify-content: center;
}

/******************************
******** displayGame *********
******************************/

div.gameCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 26rem;
    height: 26rem;
    overflow: hidden;
    border-radius: 2em;
    border: 2px solid gray;
    margin: 2em 0em 1em;
}

div.gameCard img {
    height: 80%;
    width: fit-content;
    margin: 0%;



}

div.gameCard div {

    display: flex;
    padding: 1rem 1rem 3rem;
    background-color: white;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.gameId {
    display: none;
}

div.gameCard div h3 {
    text-align: center;
}

button#dislikeBtn,
button#likeBtn {

    padding: .5em;
    margin: 0em 1em;
    text-align: center;
    width: 2em;
    height: 2em;
}

p.gameContainerText{
    color: black;
    font-weight: bold;
    font-size: 15pt;
    padding: 2rem 0;
}

/**********************************
******** displayQuestions *********
**********************************/

div.questionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 40vh;
    width: 60vw;
    margin-top: 1rem;
}

div.questionContainer button {
    width: 50%;
    margin: 1rem .25rem;
    padding: 1rem 0;

}

button.nextBtn {
    width: 30%;
}

.selectedBtn {
    background-color: #4eacc6;
    color: white;

}

div.inputedDataContainer p {
    display: none;
}